.MuiTableContainer-root {
  width: 74% !important;
  padding: 0%;
  background: transparent !important;
  margin-top: 0px !important;
}
.MuiButton-startIcon {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
