.sidebar {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 18%;
  min-height: 70vh;
  padding: 0 0 0 2%;
  float: left;
  overflow: hidden;
  padding-top: 5rem;
  background-color: darkgray;
}
